<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>tstr</string>
	<key>uuid</key>
	<string>d4e3f2a1-b5c6-4d7e-8f9a-0b1c2d3e4f5a</string>
</dict>
</plist>
